/* the font style */
@font-face {
    font-family: gameFont;
    src: url(../resources/PixelboyFont.ttf);
}

/* all text with gameFont */
* {
    font-family: gameFont;
    color: white;
}

h1 {
    font-size: 90px;
}

body {
    background-image: url("../resources/tower2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%;
    font-size: 40px
}

form {
    text-align: center;
}

.container {
    padding: 25px;
}

label {
    display: block;
    font-size: 60px;
    margin-top: 2.5%;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:active {
    text-decoration: none;
}

/* when hovering over links, use cursor pointer */
a.pointer {
    cursor: pointer;
}

/* design for the input box */
input[type=email],
input[type=password],
input[type=text] {
    width: 30%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    background: transparent;
    border: none;
    border-bottom: 4px solid white;
    color: white;
    font-size: 25px;
    font-family: Verdana;
    font-weight: 650;
}

/* when an input box is in focus, i.e a user has clicked on it */
input:focus {
    outline: 3px solid white;
    border: none;
}

/* placeholder text */
input::placeholder {
    color: white;
    opacity: 1;
    font-size: 25px;
    font-weight: 650;
}

.links {
    margin-top: 1.5%;
    font-size: larger;
}

.links a {
    padding: 1%;
}

.links a:hover{
    outline: 3px solid white;
}

.links ~ .links a:hover{
    outline: none;
    border-bottom: 3px solid white;
}

@media only screen and (max-width: 1000px) {

    input[type=email],
    input[type=password],
    input[type=text] {
        width: 60%;
    }
}
@media only screen and (max-width: 2000px) {

    input[type=email],
    input[type=password],
    input[type=text] {
        width: 50%;
    }
}

